<header>
    <style>
        h1{
            font-family: 'Courier New', Courier, monospace;
            color: red;
            background-color: aquamarine;
            margin: auto;
            text-align: center;
            widows: 500px;
        }
    </style>
    <h1>I am {{pageTitle}} of the Uchiha Clan</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
</header>
